<table width="100%">
  <thead>
    <tr>
      <th><a href="{{ site.baseurl }}/bha6/class/1">Class 1</a></th>
      <th><a href="{{ site.baseurl }}/bha6/class/2">Class 2</a></th>
      <th><a href="{{ site.baseurl }}/bha6/class/3">Class 3</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Course introduction</td>
      <td>Microbiology</td>
      <td>Molecular Biology</td>
    </tr>
    <tr>
      <td>BioHacking &amp; Safety</td>
      <td>Electronics</td>
      <td>BioArt</td>
    </tr>
    <tr>
      <td>3D Design</td>
      <td>Documentation</td>
      <td>Digital Electronics</td>
    </tr>
    <tr>
      <td><img src="/bha4/class/sterilehood.png" alt="Sterile Hood" width="230" /></td>
      <td><img src="/bha4/class/stirrer.png" alt="Stirrer" width="230" /></td>
      <td><img src="/bha4/class/incubator.png" alt="Incubator" width="230" /></td>
    </tr>
    <tr>
      <td><a href="https://github.com/BioHackAcademy/BHA_SterileHood">Sterile Hood</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Stirrer">Stirrer</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Incubator">Incubator</a></td>
    </tr>
    <tr>
      <td>Sketchup &amp; Inkscape</td>
      <td>Cultivating Microbes</td>
      <td>Isolating Microbes</td>
    </tr>
    <tr>
      <td></td>
      <td>Principles of electronics</td>
      <td>Arduino coding 1</td>
    </tr>
    <tr>
        <td><hr /></td><td><hr /></td><td><hr /></td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th><a href="{{ site.baseurl }}/bha6/class/4">Class 4</a></th>
      <th><a href="{{ site.baseurl }}/bha6/class/5">Class 5</a></th>
      <th><a href="{{ site.baseurl }}/bha6/class/6">Class 6</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Optics</td>
      <td>Genetics</td>
      <td>Midterm presentations</td>
    </tr>
    <tr>
      <td>Microscope design</td>
      <td>Biosensing</td>
      <td></td>
    </tr>
	<tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><img src="/bha4/class/microscope.png" alt="Microscope" width="230" /></td>
      <td><img src="/bha4/class/thermocycler.png" alt="Thermocycler" width="230" /></td>
      <td><img src="/bha4/class/empty.png" alt="empty" width="230" /></td>
    </tr>
    <tr>
      <td><a href="https://github.com/BioHackAcademy/BHA_Microscope">Microscope</a> &amp; <a href="https://github.com/BioHackAcademy/BHA_Webcam_Microscope">Webcam Microscope</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Thermocycler">Thermocycler</a> &amp; <a href="https://github.com/BioHackAcademy/BHA_GelBox">Gelbox</a></td>
      <td> </td>
    </tr>
    <tr>
      <td>Microscopy & Cell staining</td>
      <td>PCR</td>
      <td>Electrophoresis</td>
    </tr>
    <tr>
      <td>Arduino coding 2</td>
      <td>Mystery Meat Experiment</td>
      <td>Documentation</td>
    </tr>
    <tr>
        <td><hr /></td><td><hr /></td><td><hr /></td>
    </tr>
  </tbody>

  <thead>
    <tr>
      <th><a href="{{ site.baseurl }}/bha6/class/7">Class 7</a></th>
      <th><a href="{{ site.baseurl }}/bha6/class/8">Class 8</a></th>
      <th><a href="{{ site.baseurl }}/bha6/class/9">Class 9</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bioinformatics</td>
      <td>Guest lecture</td>
      <td>How to continue biohacking</td>
    </tr>
    <tr>
      <td>Assignment: reviewing</td>
      <td>Spectrometry</td>
      <td>Bio and innovation</td>
    </tr>
    <tr>
      <td><img src="/bha4/class/centrifuge.png" alt="Centrifuge" width="230" /></td>
      <td><img src="/bha4/class/spectrometer.png" alt="Spectrometer" width="230" /></td>
      <td><img src="/bha4/class/bioreactor.png" alt="Photobioreactor" width="230" /></td>
    </tr>
    <tr>
      <td><a href="https://github.com/BioHackAcademy/BHA_Centrifuge">Centrifuge</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Spectrophotometer">Spectrometer</a> &amp; <a href="https://github.com/BioHackAcademy/BHA_Webcam_Spectrophotometer">Webcam Spectrometer</a></td>
      <td><a href="https://github.com/BioHackAcademy/BHA_Photobioreactor">Photobioreactor</a></td>
    </tr>
    <tr>
      <td>P2P reviewing</td>
      <td>Bioinformatics</td>
      <td>Work on your own project</td>
    </tr>
    <tr>
      <td>Separation</td>
      <td></td>
      <td> </td>
    </tr>
    <tr>
        <td><hr /></td><td><hr /></td><td><hr /></td>
    </tr>
  </tbody>
</table>

<h2 id="class-10">Class 10</h2>

<p> <a href="https://biohackacademy.github.io/bha6/class/10">Graduation show </a></p>
